body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

section {
    padding: 120px 0;
}


/** header------------------------------------------- */


.page-header {
    height: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
}

.navigation-header {
    display: flex;
    align-items: center;
}

.logo,
.logo-footer {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}

.list-navigation {
    display: flex;
    margin-right: 332px;
    gap: 40px;
}

.list-navigation-studio,
.modal-title {
    color: #2E2F42;
    font-weight: 500;
}

.current {
    color: #404BBF;
    font-weight: 500;
    padding: 24px 0;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-navigation-studio:hover,
.list-navigation-studio:focus {
    color: #404BBF;
}

.current::after {
    content:'';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
}

address {
    font-style: normal;
}

.list-address {
    display: flex;
    gap: 40px;
}

.links-address {
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.links-address:hover,
.links-address:focus {
    color: #404BBF;
}



/** Секція 1, HERO------------------------------------- */


.section-hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
}

.section-hero-container {
    /*max-width: 1440px;*/
}

.title-section-hero {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
}

.button-hero {
    color: #FFF;
    background-color: #4D5AE5;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    min-width: 169px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404BBF;
    cursor: pointer;
}


/**Секція 2, Our Advantages----------------------------*/


.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.list-advantages {
    display: flex;
    gap: 24px;
}

.item-advantages{
    width: calc((100% - 3 * 24px) / 4);
}

.item-advantages-conteiner {
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.feature-advantages {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}


/**Секція 3, Our Team----------------------------------*/


.section-team {
    background-color: #F4F4FD;
}

.title-section-team {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.list-team {
    display: flex;
    gap: 24px;
}

.card-section-team {
    background-color: #FFF;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.item-cart-team {
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

.person-section-team {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.section-paragraph-team {
    text-align: center;
    margin-bottom: 8px;
}

.social-icons {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-container {
    width: 40px;
    height: 40px;
}

.team-icons {
    fill:#f4f4fd;
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}


/**Секція 4, Our Portfolio-----------------------------*/


.title-section-portfolio {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.card-section-portfolio {
    width: calc((100 - 2 * 24px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.card-section-portfolio:hover .overlay-portfolio {
    transform: translateY(0%);
}

.card-section-portfolio:hover,
.card-section-portfolio:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay-portfolio-cover {
    position: relative;
    overflow: hidden;
}

.overlay-portfolio {
    position: absolute;
    display: flex;
    padding: 40px 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-portfolio {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.project-section-portfolio {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.item-card-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


/** footer---------------------------------------------- */



.page-footer {
    background-color: #2E2F42;
    padding: 100px 0
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-studio {
    color: #f4f4fd;
}

.text-footer {
    color: #F4F4FD;
    width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline
}

.footer-column-first {
    margin-right: 120px
}

.footer-social-tex {
    color: #FFF;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-social-icons {
    display: flex;
    gap: 16px;
    flex-direction: row;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-column-third {
    margin-left: 80px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    font-family: inherit;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    padding-left: 16px;
}

.footer-input::placeholder {
    color: #FFFFFF;
    font-size: 12px;
}

.footer-form-button {
    height: 40px;
    min-width: 165px;
    color: #FFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.footer-form-icon {
    margin-left: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/** Backdrop--------------------------------------------*/


.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.modal {
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    letter-spacing: 0.04em;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff
}

.icon-backdrop-close {
    transition: fill 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-backdrop-close:hover,
.icon-backdrop-close:focus {
    fill: #ffffff
}

.modal-title {
    text-align: center;
    margin-bottom: 16px;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    padding-top: 8px;
    margin-bottom: 4px;
    font-size: 12px;
    color: rgb(142, 143, 153);
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 0px 8px 38px;
    background-color: transparent;
    outline: transparent;
    font-family: inherit;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function:
        cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color:#4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function:
            cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    font-family: inherit;
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
}

.modal-field-policy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 24px;
}

.label-checkbox {
    display: block;
    align-items: center;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-span-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .label-checkbox span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.link-policy {
    text-decoration: underline;
    color: #4d5ae5;
    letter-spacing: 0.04em;}

.modal-button {
    color: #FFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    min-width: 169px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}